---
image_alt: GitHub verification
image_path: documentation/signup-with-github/github-verification.jpg
lang: en
page_name: documentation/signup-with-github
position: 2
---

Verify your GitHub account by solving the puzzle
