---
has_content: true
image_alt: Click on the link in the Github verification email
image_precedes_text: false
image_path: documentation/signup-with-github/github-email-verification.jpg
lang: en
page_name: documentation/signup-with-github
position: 5
heading:
---

GitHub will send you an email. Click on *Verify email address* in the email.

Once you have verified you email address with GitHub, please send your Name and GitHub ID (_@myusername_) to:

[info@challengehub.app](mailto:info@challengehub.app?subject=ChallengeHub%20registration:%20GitHub%20ID)


We will then connect your GitHub account to ChallengeHub. This usually happens quite quickly but can take up to 24 hours.
