<nav>
  <a class="nav-toggle" id="open-nav" href="#">&#9776;</a>
  <a class="editor-link btn" href="cloudcannon:collections/_data/navigation.yml" class="btn"><strong>&#9998;</strong> Edit navigation</a>

  {%- for link in site.menus.header -%}
    {%- assign class = "" -%}
    {%- if link.highlight -%}
      {%- assign class = class | append: " highlight" -%}
    {%- endif -%}

    {%- if link.link == page.url -%}
      {%- assign class = class | append: " active" -%}
    {%- endif -%}

    <a href="{{ link.url }}" class="{{ class }}" {% if link.new_window %}target="_blank"{% endif %}>{{ link.title }}</a>
  {%- endfor -%}

  {%- if site.languages contains site.active_lang -%}
  <span class="choose-language">
    <span class="dropdown-button">
      &#9660; {{ site.data.languages[site.active_lang].name }} &#x1f310;
    </span>
    <div class="dropdown-content">
      {%- for lang in site.languages -%}
        {%- if lang != site.active_lang -%}
          {%- assign showLink = true -%}
          {%- if site.data.languages[lang].missing -%}
            {%- assign missing = site.data.languages[lang].missing | where: "url", page.url -%}
            {%- if missing[0].url == page.url -%}
              {%- assign showLink = false -%}
            {%- endif; -%}
          {%- endif; -%}
          <!--  N.B. The space at the start href is intentional -->
          <!--  It's how polyglot knows not to relativise the link -->
          {%- if showLink -%}
          <a href=" {{ site.baseurl }}/{{ lang }}{{ page.url }}" class="{{ item.lang }} chose-language">
            {{ site.data.languages[lang].name }}
          </a>
          {%- endif; -%}
        {%- endif; -%}
      {%- endfor -%}
    </div>
  </span>
  {%- endif -%}
</nav>
