<nav>
  <a class="nav-toggle" id="open-nav" href="#">&#9776;</a>
  <a class="editor-link btn" href="cloudcannon:collections/_data/navigation.yml" class="btn"><strong>&#9998;</strong> Edit navigation</a>

  {%- assign links=site.data.navigation -%}
  {%- for link in site.menus.header -%}
    {%- assign class = "" -%}
    {%- if link.highlight -%}
      {%- assign class = class | append: " highlight" -%}
    {%- endif -%}

    {%- if link.link == page.url -%}
      {%- assign class = class | append: " active" -%}
    {%- endif -%}

      <a href="{{ link.url }}" class="{{ class }}" {% if link.new_window %}target="_blank"{% endif %}>{{ link.title }}</a>
  {%- endfor -%}


  {%- if page.path contains '_posts' -%}
  {%- assign the_collection=site.posts | where: "ref", page.ref -%}
  {%- else -%}
  {%- assign the_collection=site.pages -%}
  {%- endif -%}

  {%- for item in the_collection -%}
    {%- if item.lang != site.active_lang -%}
      <!--  N.B. The space at the start href is intentional -->
      <!--  It's how polyglot knows not to relativise the link -->
      <a href=" {{ site.baseurl }}/{{ item.lang }}{{ item.url }}" class="{{ item.lang }}">
        {{ site.data.languages[item.lang] }}
      </a>
    {%- endif; -%}
  {%- endfor -%}<br>

</nav>
