<h4 class="post-subtitle">{{ include.post.subtitle }}</h4>
<p class="post-details">
  {% for category in include.post.categories %}
    {% if site.data.languages contains category %}
    {% else %}
    <span class="blog-filter">
      <a href="{{ site.baseurl }}/category/{{ category | slugify }}/">{{ category }}</a>
    </span>
    {% endif %}
  {% endfor %}
  <span class="post-date">
    {{ include.post.date | date: site.data.blog_info.date_format }}
    {% if include.post.reading_minutes %}
      <br>
      {{ site.data.blog_info.minute_read | replace_first: '$$MINUTES$$', include.post.reading_minutes }}
    {% endif %}
  </span>
</p>
