{%- assign para=include.para -%}
{%- if para -%}
  {%- if para.is_testimonial -%}
    {%- include show-testimonial.html para=para -%}
  {% else %}
    <section>
      {%- assign image_after_text = 1 -%}
      {%- if para.image_precedes_text  -%}
        {%- assign image_after_text = nil -%}
      {%- endif  -%}
      <div class="container flex">
        {%- if para.image_precedes_text -%}
          {%- include show-paragraph-images.html para=para -%}
        {%- endif  -%}
        {%- if para.columns-on-first-ul -%}
          {%- assign classes = "text editable columns-on-first-ul" -%}
        {%- else -%}
          {%- assign classes = "text editable" -%}
        {%- endif  -%}
        <div class="{{- classes -}}">
          {%- if para.heading -%}<h2>{{- para.heading -}}</h2>{%- endif -%}
          {{- para.content | markdownify -}}
          {%- if para.cta_label -%}
            <div class="cta button"><a href="{{- site.baseurl -}}{{- para.cta_link -}}">
              {%- if para.cta_label_mobile -%}
              <span class="desktop-only">
                {{- para.cta_label -}}
              </span>
              <span class="mobile-only">
                {{- para.cta_label_mobile -}}
              </span>
              {%- else -%}
              {{- para.cta_label -}}
              {%- endif  -%}
            </a></div>
          {%- endif -%}
        </div>
        {%- if image_after_text -%}
          {%- include show-paragraph-images.html para=para -%}
        {%- endif -%}
      </div>
    </section>
  {% endif %}
{%- endif -%}
