.blog-posts {
  list-style: none;
  padding: 0;
}

.blog-post {
	h4.post-subtitle {
		font-size: 1.5em;
		font-weight: 400;
		color: #000;
		text-align: center;
	}
  .author {
    padding: 30px 0 0 0;
    border: 1px solid #eee;
    margin: 30px 0;
    font-size: .8em;

    .square-image {
      width: 200px;
      height: 200px;
      margin-top: 0;
    }
    .square-image img {
      width: 100%;
    }
    .blurb {
      text-align: center;
    }
  }

	h2.post-title {
		text-align: center;
	}
  h2 {
    a {
      color: #000;
      text-decoration: none;
      margin-bottom: 30px;
    }
  }

  h2 {
    text-align: left;
  }

  img.retina-70width-image {
    @media #{$desktop} {
      max-width: 70%;
    }
  }

  p.blog-leading-image {
    text-align: center;
    img {
      width: auto;
      max-width: 100%;
    }
  }

  .blog-navigation {
    font-size: 14px;
    display: block;
    width: auto;
    overflow: hidden;
    a {
      display: block;
      width: 50%;
      float: left;
      margin: 1em 0;
    }

    .next {
      text-align: right;
    }
  }

  .post-details {
    border-bottom: 1px solid #eee;
    font-size: .9em;

    .blog-filter {
      display: inline-block;
      text-align: left;

      a {
        position: relative;
        top: -5px;
      }
    }

    a {
      text-decoration: none;
    }

    .post-date {
      float: right;
    }

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  .post-content {
    .button {
      margin: 30px 0 0 0;
    }

    li {
      font-size: 1.38em;
    }

    ol {
      list-style: none;
      counter-reset: li;
    }
    ol li::before {
      content: "." counter(li);
      counter-increment: li;
      color: #000;
      font-weight: 400;
      display: inline-block;
      width: 1em;
      margin-left: -1.5em;
      margin-right: 0.5em;
      text-align: right;
      direction: rtl;
    }

    ul {
      list-style: none
    }
    ul li::before {
      content: "•";
      color: #000;
      font-weight: 400;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }

  }
}

.pagination {
  text-align: center;
}

.blog-filter {
  text-align: center;
  a {
    background: #eee;
    padding: 3px 5px;
    font-size: .8em;
    border-radius: 5px;
    color: #888;
    transition: .2s ease-in-out;

    &:hover {
      color: #555;
      text-decoration: none;
    }
  }
}

.blog-filter.cross a {
  padding-right: 8px;

  &:after {
    content: "x";
    font-size: .5em;
    position: relative;
    bottom: 4px;
    right: -3px;
  }
}
