---
image_alt: GitHub 確認
image_path: documentation/signup-with-github/github-verification.jpg
lang: ja
page_name: documentation/signup-with-github
position: 2
---

パズルを解いて、新しくできたアカウントを確認してください。
