---
has_content: true
image_alt: GitHubからの確認メールのリンクをクリック
image_precedes_text: false
image_path: documentation/signup-with-github/github-email-verification.jpg
lang: ja
page_name: documentation/signup-with-github
position: 5
heading:
---

GitHubはあなたのアドレスまでメールを送信します。メール本文ににある「__Verify email address__」というリンクをクリックしてください。

GitHubであなたのメールアドレスを確認した段階で、あなたのお名前とGitHubでのユーザーネーム（@ユーザーネーム）をメールで下記のアドレスまでお知らせください。


[info@challengehub.app](mailto:info@challengehub.app?subject=ChallengeHub%E3%81%B8%E7%99%BB%E9%8C%B2%3A%20GitHub%E3%83%A6%E3%83%BC%E3%82%B6%E3%83%BC%E3%83%8D%E3%83%BC%E3%83%A0)
{% comment %}
URL decoded subject:
ChallengeHubへ登録: GitHubユーザーネーム
{% endcomment %}

あなたのGitHubアカウントをChallengeHubと連携させます。ほとんどの場合は迅速に対応できますが、最長で２４時間かかることがあります。
