<script type="text/javascript">
 function containsKnownLang(aUrl) {
   var knownLangs = ['en', 'es', 'ja', 'ca'];
   for (var l of knownLangs) {
     var portion = '/' + l + '/';
     console.log("Checking if " + aUrl + "contains " + portion)
     if (aUrl.indexOf(portion) !== -1) {
       return true;
     }
   }
   return false;
 }

 function pageHasNoLang() {
   return !containsKnownLang(window.location.href);
 }

 function loadEnHome() {
   var enHome = window.location.protocol + '//' + window.location.host + "/en"
   window.location.href = enHome;
 }

 function reloadIfHasLang() {
   if (!pageHasNoLang()) {
     setTimeout(loadEnHome())
   }
 }

 document.addEventListener('load', reloadIfHasLang);
</script>
