---
layout: default
---
<div class="content">
  <section class="page">
    <div class="container {% if page.full_width %}max-container{% endif %}">
      {% if page.heading %}
        <h2>{{ page.heading }}</h2>
      {% elsif page.title and page.layout != 'archive' %}
        <h2>{{ page.title }}</h2>
      {% endif %}

      {% comment %}
      The description front matter property for blog posts is for social sharing.
      Since it is not intended for showing on the website (it would be redundant),
      we don't show the description if page.layout == 'post'
      {% endcomment %}
      {% if page.description and page.layout != 'post' %}
        <p class="subtext">{{ page.description }}</p>
      {% endif %}
      {{ content }}
    </div>
  </section>
</div>
